#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: green;
    padding: 50px;
    border: 10px;
    color: white;
    margin: auto; 
}

h1,
h3 {
    color: fuchsia
}

.mySpan {
   margin-left: auto;
   margin-right: auto;
}

#img1 {
    height: 280px;
    width: 400px;    
    display: flex;
    justify-content: center;
}

#img2 {
    height: 280px;
    width: 400px;
    display: flex;
    justify-content: center;
}
.divClass{
    display: flex;
      flex-direction: column;
      align-items: center;
}

body{
    background-image: url(https://s03.s3c.es/imag/_v0/1200x655/8/2/7/taj-mahal-india-alamy.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

